body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #00000052;
 
}
.parrafo1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #b6d9de57;
    padding: 10px;
    border-left: 5px solid #00796b;
    margin-bottom: 20px;
}

li img {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: 90px; /* Ajusta el tamaño según sea necesario */
    margin-right: 15px;
    border-radius: 5px;
    margin-left: 90%;
}

h1, h2 {
    color: #333;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #00000015;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    margin: 0;
}
.suplemento-title {
    font-weight: bold;
    color: #0056b3;
}

.boton-inicio {
    display: inline-block;
    margin-bottom: 20px;
    padding: 3px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton-inicio:hover {
    background-color: #01326a;
}